table,th,td{
    border: 1px solid black;
    padding: 10px 5px;
    border-collapse: collapse;
    text-align: center;
}
tr{
    background-color: rgb(78, 74, 74);
    color: rgb(30, 231, 147);
}
.container {
    position: relative;
}
.buttons {
    margin-inline: 1em;
}
.buttons,.content{
    margin-inline: 2em;
}
.productRow:hover{
    opacity: 0.8;
}